<!DOCTYPE html>
<html>
  <head>
    <title>EstWeb</title>
    <%= csrf_meta_tags %>

    <base href="/">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <app-root></app-root>
    <%= yield %>
    <%= javascript_include_tag webpack_js_path("polyfills.js") %>
    <%= javascript_include_tag webpack_js_path("vendor.js") %>
    <%= javascript_include_tag webpack_js_path("app.js") %>
  </body>
</html>
